<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h2>Приюты</h2>
    {% if shelters %}
    <ul>
        {% for shelter in shelters %}
        <li>
        <figure>
            {{ shelter.name }}
            <form method="get" action="/{{ shelter.id }}/animals/"><button>Показать животных из приюта</button></form>
        </figure>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Приютов нет нет</p>
    {% endif %}
<p>
<form method="get" action="/animal/register"><button>Зарегистрировать новое животное</button></form>
</body>
</html>